@import 'core/variables'; /* sass-loader doesnt like absolute imports*/
body {
  background: $white;
}
#quill-editor {
    position: relative;
}
.mention {
    color: $blue;
}
.inline-comment{
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 5px #ddd;
	color: #444;
	padding: 5px 12px;
	white-space: nowrap;
}
.commentText{
	border: none;
	display: block;
	resize: none;
}
.commentText:focus{
	outline: none;
}
.inline-comment-bottom{
	margin-top: 15px;
	text-align: right;
}
.annotation{
	background: #ff0;
}



    



